/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.navbar {
		padding-left: 0px;
		padding-right: 0px;
	}
	.custom_brand {
		width: 78%;
	}
	.custom_brand ul li small {
	    font-size: 8px;
	}	.nav-link {
	    padding-bottom: 7px;
	}
	.banner {
	    padding: 30px 0;
	}
	.banner-product-details {
	    padding: 30px 5px;
	}
	.banner-product-details h3 {
	    font-size: 25px;
	}
	.banner-product-details h4 {
	    margin: 20px 0;
	}
	.product-grid3 {
	  margin: 10px;
	}
	footer {
	  padding-bottom: 50px;
	}
	.fixed-footer-content p {
	  font-size: 14px;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar {
		padding-left: 0px;
		padding-right: 0px;
	}
	.custom_brand {
		width: 78%;
	}
	.custom_brand ul li small {
	    font-size: 8px;
	}
	.nav-link {
	    padding-bottom: 7px;
	}
	.banner {
	    padding: 40px 0;
	}
	.banner-product-details {
	    padding: 30px 5px;
	}
	.banner-product-details h3 {
	    font-size: 28px;
	}
	.banner-product-details h4 {
	    margin: 30px 0;
	}
	.product-grid3 {
	  margin: 0px;
	}
	.product-grid3 .rating{
	  text-align:center;
	}
	.product-grid3 .rating li{
	  text-align: center;
	}
	footer {
	  padding-bottom: 70px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.nav-link {
	    padding-bottom: 7px;
	}
	.banner {
	    padding: 60px 0;
	}
	.banner-product-details {
	    padding: 30px 5px;
	}
	.banner-product-details h3 {
	    font-size: 35px;
	}
	.product-grid3 {
	  margin: 5px;
	  margin-bottom: 20px;
	}
	.product-grid3 .product-content{
	  padding: 5px 0;
	}
	.product-grid3 .rating {
		margin:-25px 0 0;
	}
	.product-grid3 .rating li{
	  font-size:10px;
	}
	footer {
	  padding-bottom: 70px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.custom_brand {
	    width: 40%;
	}
	.product-grid3 {
	  margin: 25px;
	}
	.product-grid3 .rating{
		margin:-25px 0 0;
	}
	footer {
	  padding-bottom: 70px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}